<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MypageMapper">
	<select id="applyList" resultType="com.example.domain.AdoptFormVO">
		select a.*, d.species, d.dogImage, f.* from adopt a left join adopt_form f on
		a.applicationNo=f.applicationNo join dog d on a.dogCode=d.dogCode
		where applicant=#{id};
	</select>
	<select id="applyRead" resultType="com.example.domain.AdoptFormVO">
		select a.*, d.*, f.*,u.name from adopt a left join adopt_form f on
		a.applicationNo=f.applicationNo join dog d on a.dogCode=d.dogCode
		join user u on a.applicant=u.id
		where a.applicationNo=#{applicationNo};
	</select>
	<insert id="counselInsert">
		insert into counseling(reserveNo, counselingDate, counselingTime, dogCode, client, reservedDate)
		values(#{applicationNo},#{counselingDate},#{counselingTime},#{dogCode},#{applicant},now())
	</insert>
	<select id="qnaList" resultType="com.example.domain.QnAMessageVO">
		select * from qna_message
		<if test="keyword=='null'">
		where readDate=null
		</if>
		<if test="keyword=='not null'">
		where readDate!=null
		</if>
		and sender=#{id}
    	limit #{pageStart}, #{perPageNum}
	</select>
	<insert id="messageInsert">
		insert into qna_message(sender,title,message,sendDate)
		values(#{sender},#{title},#{message})
	</insert>
	<update id="messageDelete">
		update set qna_message sendDel=#{sendDel}
		where messageNo=#{messageNo}
	</update>
	<select id="replyCount" resultType="int">
		select count(*) from qna_reply
		where messageNo=#{messageNo} and receiver=#{id}
	</select>
	<update id="messageChecked">
		update qna_reply set readDate=now()
		where replyNo=#{replyNo}
	</update>
	<select id="uncheckedMessage" resultType="int">
		select count(*) from qna_reply
		where readDate=null and sender=#{id}
	</select>
</mapper>