@charset "UTF-8";

<!-- 공통 스타일 -->


@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

* {
	font-family: "Nanum Gothic" !important
}


#pagination {
	text-align: center;
	float:center;
	margin-bottom:50px;
}

#pagination a {
	text-decoration: none;
	width:13px;
	color:#000;
	font:bold 15px tahoma;
	border:1px solid #eee;
	
}

#pagination a:focus,#pagination a:hover {
	color:#fff;
	border:1px solid #F39C12;
	background-color:#F39C12;
	
}


#divListImg img {
	border: 0;
	padding: 0;
	width: 100%;
	height:100%;
	margin: 0 0 0 0;
}

body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
}
<!-- index style -->

	#divImg img {
	    border: 0;
	    padding: 0; 
	    width: 100%;
	    min-height: 100%;
	}
	
	.divWrap {
	    width:100%;
	    border: 0;
	    padding: 0; 
	    width: 100%;
	    min-height: 100%;	                                                                 
	    background-size: cover;
	}
	
	#divMenu{
	     margin-top:40px;
	     
	}
	
	#divMenu img{
		width:160px;
		margin-left:155px;
		cursor:pointer;	
	}
	
	#divImgBtn {
		cursor:pointer;
		background:#FA3313;
		height:35px;
		width:100px;
		position:absolute;
		top:620px;
		left:145px;
		border-radius: 5px 5px 5px 5px;
		cursor:pointer;	
		font-size:16px;
		color:white;
		border: none;
		outline: none;
	}
	
	#divDogBtn {
		cursor:pointer;
		background:#FA3313;
		height:40px;
		width:120px;
		position:absolute;
		top:2070px;
		left:47%;
		border-radius: 5px 5px 5px 5px;
		font-size:16px;
		color:white;
		border: none;
		outline: none;
	}
	

	
	#aTop {
		display:scroll;
		position:fixed;
		bottom:30px;
		right:20px; 
		width:70px;
	}
	
	#chart {
		position:absolute;
		top:1220px;
		left:7%;
	}
	
	#indexside {
		position:absolute;
		top:700px;
		left:0;
		width:600px;
	}
	
	#kakao-talk-channel-chat-button {
		display:scroll;
		position:fixed;
		bottom:120px;
		right:10px; 
		width:120px;
	}
	
	#indexSlide {
		position:absolute;
		top:2150px;
		left:16%;
	}
<!-- menu.jsp style -->
	
	#divItem {
		position: fixed;	
		top: 0;
		left: 0;
		right: 0;
	}
	
	.mItems img{
		width:170px;
		margin-left:120px;
		cursor:pointer;	
		
	}
		
	.dropbtn {
		position: relative;
		background: none;
		font-weight:bold;
		font-size: 20px;
		padding: 16px;
		border: none;
		cursor: pointer;
	}
	
	.dropdown {
		margin-left:80px;
		display: inline-block;
	}
	
	.dropdown-content {
		display: none;
		position: absolute;
		background:white;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}
	
	.dropdown-content a {
		color: black;
		font-weight:bold;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
	
	.dropdown-content a:hover {
		background-color: #f1f1f1
	}
	
	.dropdown:hover .dropdown-content {
		display: block;
	}


	.itemSearch {
		margin-left:130px;
		
	}
	
	.itemSearch input[type='text'] {
	   height: 37px; 
	   width:250px;
	   background-color: #ebecee;
	   border-radius: 30px 30px 30px 30px;
	   border: none;
	   outline: none;
	
	}
	
	.wordSearch {
		background: #F2BB13;
		border-radius: 5px 5px 5px 5px;
		cursor:pointer;	
		font-weight:bold;
		height:35px;
		border: none;
		outline: none;
	}
	
	.items {
		margin-left:100px;
		font-size: 20px;
		font-weight:bold;
		cursor:pointer;
	}
	.items a {
		text-decoration:none;
		color:black;
	}
	
<!-- 유기견 리스트 -->



#listSearch {
	width: 100%;
	height: 75px;
	background: #ebecee;
	text-align: center;
	
}

#listfrm {
	vertical-align: middle;
}

#listfrm input[type='text'] {
	height: 30px; 
	width:250px;
	position:absolute;
	left:43%;
	top:62.5%;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	border: 0.5px  gray solid;
	outline: none;
	
}


#listfrm input[type='submit'] {
	background: #F2BB13;
	border-radius: 5px 5px 5px 5px;
	cursor:pointer;	
	font-weight:bold;
	height:30px;
	position:absolute;
	left:57%;
	top:62.3%;
	border: none;
	outline: none;
	
}

#listfrm span {
	position:absolute;
	left:61%;
	top:62.5%;;
}

#divDogList {
	width: 1200px;
	height: 800px;
	margin:auto;
	
}

.listSelect {
	position: absolute;
	left: 38%;
	top: 62.8%;
}

.divListbox {
	width: 250px;
	height: 270px;
	margin:10px;
	float: left;
	position:relative;
	top:10%;
	left:5%;
	font-size: 14px;
	overflow:hidden;
}

.divListbox img:hover {
	cursor:pointer;
	transform: scale(1.2);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	
}

.divListbox img {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	
}

#divListBoxInfo {
	position:absolute;
	top:90%;

	
}


<!-- dog/read 상세페이지 -->

#divReadPageIn {
	width:1600px;
	margin-top:100px;
	margin:auto;
	padding:10px;
	padding-top:100px;
	
}

#divReadPageSpan {
	margin:auto;
	width:1600px;
	height:700px;
	background:white;
	padding:40px;
	box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
	background-color: rgba( 255, 255, 255, 0.5 );
	border:1px solid gray;
	border-radius: 30px 30px 30px 30px;
		
}
#divReadPageSpanIn {
	float:right;
	margin-right:365px;
}

#divReadAge {
	color:red;
	font-size:40px;
	font-weight:bold;
}
#divReadPageSpanInfo {
	width:500px;
	height:200px;
	background:#ebecee;
	float:right;
	margin-top:50px;
	padding:10px;
}
#divReadPageSpanInfo p {
	color:#F39C12;
	font-size:25px;
	
}

#divReadImg img{
	float: left;
	width:550px;
	height:600px;
	margin-left:40px;
	border-radius: 10px 10px 10px 10px;
}


#tblDogInfo {
	margin-top:350px;
	margin-left:650px;
	border:3px solid #ebecee;
	border-bottom:1px solid #F25F29;
	width: 800px;
	border-collapse:collapse;
	
}


#tblDogInfo td {
	height:30px;
	width:100px;
}

#tblDogInfo th {
	width:70px;
	text-align:left;
	color:#EA3520;
}



#divReadBtn {
	text-align:left;
	margin-top:100px;

}

#btnReadAdopt{
	cursor:pointer;
	background:#FA3313;
	margin-left:70px;
	height:45px;
	width:130px;
	border-radius: 5px 5px 5px 5px;
	font-size:20px;
	color:white;
	border: none;
	outline: none;
}

#btnBackList{
	cursor:pointer;
	margin-left:50px;
	background:gray;
	height:35px;
	width:100px;
	border-radius: 5px 5px 5px 5px;
	font-size:15px;
	color:white;
	border: none;
	outline: none;
}

<!-- 입양신청 폼 adopt/insert -->
.divRwrap {
	position: relative;
    background-image: url('/resources/img/adoptBack.jpg');                                                               
    background-size: cover;
    height:2000px;
}

#adoptH1 {
	width:1000px;
	height:50px;
	background:#F2BB13;
	
}

#adoptH1 h2 {
	position:relative;
	top: 7px;
}
#divAdopt {
	width:1000px;
	height:1400px;
	position:relative;
	background:white;
	text-align:center;
	margin:auto;
	top:50px;
	background-color: rgba( 255, 255, 255, 0.5 );
}

#divAdoptPet {
	background:white;
	background-color: rgba( 255, 255, 255, 255 );
	width:1000px;
	margin:auto;
	height:250px;
	padding-top:50px;
}
#divAdoptPet{
	position:relative;
}

#divAdoptPet img{
	width:200px;
	height:200px;
}

#adoptImg{
	display:inline-block;
	position:absolute;
	left:30%;
	top:50%;
	transform:translate(0,-50%);
}

#tblQ {
	margin:auto;
	margin-left:190px;
	margin-top:50px;
	margin-bottom:50px;
}

#tblQ td, th {
	height: 40px;
}



#adopt2 {
	display:inline-block;
	position:absolute;
	left:52%;
	
}

#adopt2 {
	height:40px;
	width:400px;
	outline:none;
	border:none;
	font-size:30px;
	text-align:left;
	font-weight:bold;
	color:#F25F29;
}

#adopt3 {
	display:inline-block;
	position:absolute;
	left:52%;
	top:35%;
}

#adopt3 input {
	width:300px;
	height:95px;
	background:#ebecee;
	outline:none;
	border:none;
}

#adopt4 {
	display:inline-block;
	position:absolute;
	left:52%;
	top:75%;
}

#adopt4 input {
	outline:none;
	border:none;
}

#divAdoptBtn1,#divAdoptBtn2,#divAdoptBtn3 {
	height:30px;
	width:80px;
	cursor:pointer;
	border-radius: 5px 5px 5px 5px;
	font-size:16px;
	outline: none;
}

#divAdoptBtn1 {
	position:absolute;
	left:37%;
	top:93%;
	background:#FA3313;
	color:white;
	border:none;
}

#divAdoptBtn2 {
	position:absolute;
	left:47%;
	top:93%;
	background:#ebecee;
	border:1px solid gray;
}

#divAdoptBtn3 {
	position:absolute;
	left:57%;
	top:93%;
	background:#ebecee;
	border:1px solid gray;
}

<!-- board/list -->
.divBoardList {
	width: 1800px;
	height: 1100px;
	margin: auto;
	position:relative;
	padding-left:200px;
}

.divBoardBox {
	width: 400px;
	height: 400px;
	margin:30px;
	position:relative;
	float: left;
	background: black;
}

.divBoardBox img {
	width: 400px;
	height: 400px;
	margin: auto;
	position:absoulte;
	margin: auto;
	text-align: center;
}

.divBoardTxt {
	width: 400px;
	height: 400px;
	position:absolute;
	top:0%;
	bottom:0%;
	left:0%;
	right:0%;
	float: left;
	background:black;
	background-color: rgba( 0, 0, 0, 0.5 );
	opacity:0;
	color:white;
	font-size:20px;
	text-align:center;
	vertical-align:middle;
	padding:40px;
	padding-top:20%;
}

.divBoardTxt:hover {
	opacity:1;
}


.postingNo {
	display: none;
}

#btnBoardInsert {
	background: #F2BB13;
	border-radius: 5px 5px 5px 5px;
	cursor:pointer;	
	font-weight:bold;
	height:30px;
	position:absolute;
	left:80%;
	top:1750px;
	border: none;
	outline: none;
}


