<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BoardMapper">
	<select id="list" resultType="com.example.domain.BoardVO">
		select * from board
		<if test="searchType=='category'">
			where category like concat('%', #{keyword}, '%')
		</if>
		<if test="searchType=='postTitle'">
			where postTitle like concat('%', #{keyword}, '%')
		</if>
		<if test="searchType=='writer'">
			where writer like concat('%', #{keyword}, '%')
		</if>
		<if test="searchType=='postContent'">
			where postContent like concat('%', #{keyword}, '%')
		</if>
		order by postingNo desc
		limit #{pageStart}, #{perPageNum}
	</select>
	<insert id="insert">
		insert into board(category,postTitle,postContent, writer,image)
		values(#{category},#{postTitle},#{postContent},#{writer},#{image})
		<selectKey resultType="int" keyProperty="postingNo" order="AFTER">
         SELECT LAST_INSERT_ID()
      </selectKey>
	</insert>
	<select id="read" resultType="com.example.domain.BoardVO">
		select * from board where
		postingNo=#{postingNo}
	</select>
	<update id="update">
		update board
		set category=#{category},postTitle=#{postTitle},postContent=#{postContent},image=#{image}
		where postingNo=#{postingNo}
	</update>
	<delete id="delete">
		delete from board where postingNo=#{postingNo}
	</delete>
	<select id="totalCount" resultType="int">
		select count(*) from board
		<if test="searchType=='category'">
			where category like concat('%', #{keyword}, '%')
		</if>
		<if test="searchType=='postTitle'">
			where postTitle like concat('%', #{keyword}, '%')
		</if>
		<if test="searchType=='writer'">
			where writer like concat('%', #{keyword}, '%')
		</if>
		<if test="searchType=='postContent'">
			where postContent like concat('%', #{keyword}, '%')
		</if>
	</select>
	 <select id="getAttach" resultType="string">
       select image from board_attach 
       where postingNo=#{postingNo}
    </select>
    <insert id="addAttach">
        insert into board_attach(image,postingNo)
        values(#{image},#{postingNo})
    </insert>
    <delete id="delAttach">
        delete from board_attach
        where postingNo=#{postingNo}
    </delete>
</mapper>