@charset "UTF-8";

<!-- 공통 스타일 -->


@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

* {
   font-family: "Nanum Gothic" !important
}


#pagination {
   text-align: center;
   float:center;
   margin-bottom:50px;
}

#pagination a {
   text-decoration: none;
   color: black;
}


#divListImg img {
   border: 0;
   padding: 0;
   width: 100%;
   height:100%;
   margin: 0 0 0 0;
}

body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
}
<!-- index style -->

   #divImg img {
       border: 0;
       padding: 0; 
       width: 100%;
       min-height: 100%;
   }
   
   .divWrap {
      position: relative;
       background-image: url('/resources/img/index.jpg');                                                               
       background-size: cover;
   }
   
   .divWrap #divMenu{
        position: absolute;
        margin-top:70px;
   }
   
   #divMenu img{
      width:160px;
      margin-left:155px;
      cursor:pointer;   
   }
   
   #divImgBtn {
      cursor:pointer;
      background:#FA3313;
      height:35px;
      width:100px;
      position:absolute;
      top:680px;
      left:165px;
      border-radius: 5px 5px 5px 5px;
      cursor:pointer;   
      font-size:16px;
      color:white;
      border: none;
      outline: none;
   }
   
   #divDogBtn {
      cursor:pointer;
      background:#FA3313;
      height:35px;
      width:100px;
      position:absolute;
      top:2260px;
      left:1000px;
      border-radius: 5px 5px 5px 5px;
      font-size:16px;
      color:white;
      border: none;
      outline: none;
   }
   
   #divImgBtn:after {
      content: ' \261B';
   }
   
   #aTop {
      display:scroll;
      position:fixed;
      bottom:30px;
      right:20px; 
      width:70px;
   }

<!-- menu.jsp style -->
   
   #divItem {
      position: fixed;   
      top: 0;
      left: 0;
      right: 0;
   }
   
   .mItems img{
      width:170px;
      margin-left:120px;
      cursor:pointer;   
      
   }
      
   .dropbtn {
      position: relative;
      background: none;
      font-weight:bold;
      font-size: 20px;
      padding: 16px;
      border: none;
      cursor: pointer;
   }
   
   .dropdown {
      margin-left:80px;
      display: inline-block;
   }
   
   .dropdown-content {
      display: none;
      position: absolute;
      background:white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
   }
   
   .dropdown-content a {
      color: black;
      font-weight:bold;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
   }
   
   .dropdown-content a:hover {
      background-color: #f1f1f1
   }
   
   .dropdown:hover .dropdown-content {
      display: block;
   }


   .itemSearch {
      margin-left:130px;
      
   }
   
   .itemSearch input[type='text'] {
      height: 37px; 
      width:250px;
      background-color: #ebecee;
      border-radius: 30px 30px 30px 30px;
      border: none;
      outline: none;
   
   }
   
   .wordSearch {
      background: #F2BB13;
      border-radius: 5px 5px 5px 5px;
      cursor:pointer;   
      font-weight:bold;
      height:35px;
      border: none;
      outline: none;
   }
   
   .items {
      margin-left:100px;
      font-size: 20px;
      font-weight:bold;
      cursor:pointer;
   }
   .items a {
      text-decoration:none;
      color:black;
   }
   
<!-- 유기견 리스트 -->



#listSearch {
   width: 100%;
   height: 70px;
   background: #ebecee;
   text-align: center;
   
}

#listfrm {
   vertical-align: middle;
}

#listfrm input[type='text'] {
   height: 30px; 
   width:250px;
   margin-top:20px;
   margin-bottom:20px;
   background-color: white;
   border-radius: 10px 10px 10px 10px;
   border: 0.5px  gray solid;
   outline: none;
   
}

#listfrm input[type='submit'] {
   background: #F2BB13;
   border-radius: 5px 5px 5px 5px;
   cursor:pointer;   
   font-weight:bold;
   height:30px;
   border: none;
   outline: none;
   
}

#divDogList {
   width: 1600px;
   height: 850px;
   margin: auto;
   margin-top: 30px;
}

.divListbox {
   width: 300px;
   height: 370px;
   margin: 30px;
   margin-left: 60px;
   background: #F2BB13;
   color: white;
   float: left;
   font-size: 18px;
   border-radius: 30px 30px 30px 30px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   overflow: hidden;
}

.divListbox img:hover {
   transform: scale(1.2);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
}

.divListbox img {
   border-radius: 30px 30px 0px 0px;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   transform: scale(1);
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -ms-transition: .5s;
   -o-transition: .5s;
   transition: .5s;
   
}

.divDogRead {
   width: 300px;
   margin-top: 20px;
   padding-top: 10px;
   height: 55px;
   background: #F39C12;
   border-radius: 0px 0px 30px 30px;
   text-align: center;
   font-size: 20px;
   color: #FA3313;
   font-weight: bold;
   cursor: pointer;
}
