<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.VaccinationMapper">
    <!-- list 출력, 검색 -->
   <select id="list" resultType="com.example.domain.VaccinationVO"> 
      select * from vaccination
   </select>
   <select id="list2" resultType="com.example.domain.VaccinationVO"> 
      select * from vaccination
   </select>
   
</mapper>